doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    //--- cliënt sockets 
    //script(src="/socket.io/socket.io.js")
    //script.
            //var hostname = window.location.protocol + "//"+ window.location.host ;
            //var socket = io.connect(hostname);
 
    block head
  body
    block content
    block footer
          include ./includes/footer.jade 
      